#searchBody {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: blueviolet;
}

#searchInput {
    margin: auto;
    position: absolute;
    top: 35%;
    padding: 10px;
    width: 50%;
    text-align: center;
    background-color: aqua;
}

button {
    width: 95%;
}

.sideBar {
    background-color: darkorange;
}